*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#1d3557;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

h1{
    margin:15px;
    color:#ffd166;
}

#score{
    font-size:22px;
    margin-bottom:15px;
}

#gameCanvas{
    background:#f1faee;
    border:5px solid #333;
    border-radius:15px;
    touch-action:none;
}

button{
    margin-top:20px;
    padding:12px 30px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background:#06d6a0;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#04b383;
}
